<div class="container">
  <h1>Stock Ticker Lookup</h1>

  <form (submit)="fetchData($event)">
    <label for="symbol">Enter Stock Ticker:</label>
    <input type="text" id="symbol" [(ngModel)]="symbol" name="symbol" required />
    <button type="submit">Get Stock Data</button>
  </form>

  <div *ngIf="response">
    <h2>Response:</h2>
    <pre>{{ response }}</pre>
  </div>
</div>


<div class="search-container">
  <input type="text"
         class="search-input"
         [formControl]="searchControl"
         placeholder="Search..." />

  <ul *ngIf="(searchResults$ | async)?.length" class="dropdown">
    <li *ngFor="let symbol of searchResults$ | async" (click)="selectItem(symbol)">
      {{ symbol }}
    </li>
  </ul>
</div>
